body {
    min-height: 100vh;
    font-family: sans-serif;
    background-color: var(--bg-clr);
    color: var(--text-clr);
}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem;
}

/* media queries for larger screens */
@media only screen and (min-width: 415px) and (max-width: 768px) {
    main {
        max-width: 85%;
    }
}

@media only screen and (min-width: 769px) {
    main {
        max-width: 65%;
    }
}