@import './config.css';
@import './composition.css';
@import './block.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
}

/* removing offset elements from the screen, 
but keeping them still awailable for screen readers */
.offscreen {
    font-size: .5rem;
    display: none;
}

#clear.none {
    display: none;
}

/* media queries for larger screens */
@media only screen and (min-width: 415px) and (max-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (min-width: 769px) {
    html {
        font-size: 18px;
    }
}